body {
  margin: 0;
  padding: 10px;
  text-align: center;
  min-width: 300px;
  font-size: 0.8rem;
}

.container {
  width: 100%;
}

.all-btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btns {
  width: 33%;
  margin-top: 10px;
  height: 30px;
  font-weight: 600;
  border: 1px solid rgb(68, 103, 68);
  color: rgb(68, 103, 68);
  font-size: inherit;
}

#input-area {
  line-height: 25px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 10px;
  border: 1px solid rgb(68, 103, 68);
}

.hov-green{
  background-color: rgb(68, 103, 68);
  color: white;
}

.hov-green:hover {
  background: none;
  color: rgb(68, 103, 68);
}

.hov-green:active {
  background: rgb(216, 216, 216);
  color: rgb(68, 103, 68);
}

#clear-all:hover{
background: rgb(68, 103, 68);
color: white;

}

#clear-all:active{
  background: rgb(36, 90, 36);
  color: white;
  
  }
#leads-area{
    text-align: left;
    font-size: 1rem;
}

#leads-area ul{
    list-style: none;
    /* margin-top: 1px; */
    padding: 0;

}

#leads-area a{
  color: rgb(68, 103, 68);
}
